@page "/services"

<html>
<h1>Services</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Fix Screen</td>
                    <td>Repair mobile screen</td>
                    <td>$150 <button class="btn btn-primary" >Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                     </td>
                </tr>
        </tbody>
    </table>


</html>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
